/* slider7 */

#slider7 {
    height: 1%;
    overflow: hidden;
    margin: 0 0px 10px 0;
    padding: 0;
    .viewport {
        width: 600px;
        height: 300px;
        float: left;
        overflow: hidden;
        position: relative;
        z-index: 20;
    }
    .disable {
        visibility: hidden;
    }
    .overview {
        list-style: none;
        position: absolute;
        width: 540px;
        left: 0;
        top: 0;
        z-index: 20;
        padding-left: 0px;
        margin-top: 0px;
        li {
            float: left;
            padding: 0;
            width: 560px;
            background-size: 100%;
            //margin: 0 20px 0 0;
            z-index: 20;
        }
        img {
            border-radius: 7px;
            width: 540px;
            height: 280px;
            margin: 0px;
        }
    }
    h1 {
        font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        color: $dark-gray;
        font-weight: 300;
        padding: 1.5% 0 0 1.5%;
        font-size: 2.3em;
        z-index: 30;
        position: absolute;
    }
}